---
title: Usage
author: 
  - Stephane Nicoll
  - snicoll@apache.org
  - Pete Marvin King
date: 2012-02-01
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# Usage

The EJB Plugin packages an EJB module. You can use the plugin in two ways:

- If the `pom.xml` defines the `ejb` packaging type, use the `package` lifecycle phase

    ```
    mvn package
    ```

- Or use the `ejb:ejb` goal

    ```
    mvn ejb:ejb
    ```

This version of Maven EJB Plugin uses [Maven Archiver](/shared/maven-archiver/index.html) ${mavenArchiverVersion} to create the archive.

This version of Maven EJB Plugin uses [Maven Filtering](/shared/maven-filtering/index.html) ${mavenFilteringVersion} to filter resources.

The plugin does not perform EJB-specific processing during JAR generation. The plugin checks only that an EJB deployment descriptor exists when the EJB version is 2.0 or newer. It provides these customization options:

- The EJB version to use
- [Generating and customizing an ejb-client](./examples/generating-ejb-client.html)

    **Note:** The plugin will not package the dependencies with the EJB JAR.

The EJB version to use
----------------------

The plugin uses the EJB version from the [`ejbVersion`](./ejb-mojo.html#ejbVersion) parameter. To use a version other than the default, configure the plugin as shown below:

```xml
  <build>
    <pluginManagement>
      <plugins>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-ejb-plugin</artifactId>
          <version>${project.version}</version>
          <configuration>
            <ejbVersion>3.0</ejbVersion>
          </configuration>
        </plugin>
      </plugins>
    </pluginManagement>
  </build>
```